<div class="home">
<%= link_to image_tag("gulch_solutions_header.png", alt: "Gulch"), '#' %>
</div>
<div class="tag"
<h2> Improving the Way You Sell Power </h2>
<%= link_to "Tour a Demo", signin_path, class: "btn btn-med btn-custom" %>
</div>
