<footer id="footer">
  <small>
    <ul> 
      <li> 650 W. Lake - Chicago, IL </li>
      <li>  (630) 248-0777  </li>
      <li> <a href="mailto:info@gulchsolutions.com"class="link"> info@gulchsolutions.com</a></li> 
    </ul>
   
  </small>
 <!--  <nav>
    <ul>
 
    </ul>
  </nav> -->
</footer>